# Langchain Ecosystem
langchain
langchain-core
langchain-community
langchain-deepseek
langchain-groq
streamlit

# Search Tools
tavily-python

# Web scraping
beautifulsoup4
readability-lxml
trafilatura
requests
lxml

# Environment variables
python-dotenv

rich